
.elem {
  aspect-ratio:1;
  border: 1px solid black;
 
  text-align: center;
  font-size: 30px;
}
  
.tarolo {
    max-width:150px;
    margin:auto;
  display: grid;
  grid-template-columns: 50px 50px 50px;
}
